/* #timer {
    display: block;
} */

#timer .card-footer {
    padding: 1em;
}

#main-timer {
    font-size: 10em;
}

@media screen and (max-width: 480px) {
    #main-timer {
        font-size: 7em;
    }
}